// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu {
  display: flex;
  justify-content: flex-end;
}

.back {
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 20px 0;
}
